/*css*/
@import "../css/reset.css";
@import "../css/skeleton.css";



html, body {
	background: #727271 url(../images/bg-3.gif) 0 0 repeat;
	font: 14px/20px Arial, sans-serif;
	color: #7e7e7e;
	padding-bottom: 30px;
	min-width:300px;
}

a { color: inherit; text-decoration: none;}
a:hover { text-decoration: none;}
a[href^="tel:"] {
	color: inherit;
	text-decoration:none;
}
.a-hov {
	display: inline-block;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.a-hov:hover { color: #ed145b;}

p {padding-bottom: 20px;}

.p1 {padding-top: 15px;}
.p2 {padding: 0 50px 0 0;}
.p3 {margin-top: 12px !important;}
.p4 {padding: 0 60px 0 0;}
.p5 {padding-top: 93px !important;}
.p6 {padding-top: 70px;}
.p7 {padding-top: 133px;}
.p8 {padding-bottom: 100px;}


h1, h2, h3, h4, h5, h6 { font-family: 'Righteous', cursive;}
h2 {font-size: 22px; line-height: 26px; color: #616161; text-transform: uppercase; padding-top: 89px; padding-bottom: 18px;}
h3 {font-size: 40px; line-height: 35px; text-transform: uppercase; padding: 60px 0px 30px;}
h4 {font-size: 36px; line-height: 48px; text-align: center; font-weight: normal; color: #484848;}

.text-1 {font-size: 20px; line-height: 30px; font-style: italic; font-family: Georgia; color: #aaaaaa; padding-bottom: 3px; margin-top: -3px;}
.text-2 {font-size: 20px; line-height: 30px; font-family: 'Oswald', sans-serif; text-transform: uppercase; color: #3d3d3d; margin-top: 31px; margin-bottom: 3px; letter-spacing: 1px;}
.text-3 {font-size: 13px; line-height: 22px; font-family: Arial, sans-serif; color:#898989;}
.text-4 {font-size: 12px; line-height: 18px; font-family: Trebuchet MS, sans-serif; color: #a5a5a5;}
.text-5 {font-size: 100px; line-height: 1em; font-family: 'Oswald', sans-serif; color: #242424; margin-top: 39px; margin-bottom: 36px;}
.text-6 {font-size: 40px; line-height: 35px; font-family: 'Righteous', sans-serif; text-transform: uppercase; color: #242424;}

.color-1 { color: #c1c1c1;}
.color-2 { color: #979797;}
.color-2:hover {color: #242424;}
.color-3 { color: #3d3d3d;}

.bg-1 { background: #ffffff; width: 100%;}
.bg-2 { background: #fafafa;}

* {
	-webkit-text-size-adjust: none;
}

.bord-1 {border-top: 1px solid #e9e9e9; margin-top: 49px;}
.bord-2 { border: 1px solid #dbdbdb; margin: 0 8px; float: left;}
.bord-2 .omega {padding-bottom: 20px;}
.bord-3 {border-bottom: 1px solid #e9e9e9; padding-bottom: 42px;}


/*buttons*/
.btn {
	display: inline-block;
	padding-right: 18px;
	background: url(../images/arrow-3.png) right 11px no-repeat;
	font-size: 20px; 
	line-height: 30px; 
	font-family: 'Oswald', sans-serif; 
	margin-top: 6px;
	color: #3d3d3d;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.btn:hover { color: #979797 }

.btn-1 {
	display: inline-block;
	padding-right: 15px;
	background: url(../images/arrow-4.png) right 7px no-repeat;
	font-size: 14px; 
	line-height: 22px; 
	font-family: Trebuchet MS, sans-serif; 
	margin-top: 6px;
	color: #474747;
	text-transform: uppercase;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn-1:hover {color: #ed145b;}


.menu-1 { margin-top: 77px; width: 100%;}
.menu-1 li { display: block; width: 100%; border-bottom: 1px solid #eaeaea; padding: 13px 0 12px; background: url(../images/arrow-5.png) right 18px no-repeat;}
.menu-1 li a { font-family: Trebuchet MS, sans-serif; text-transform: uppercase; color:#979797; font-size: 22px; line-height: 26px; font-weight: bold; }
.menu-1 li a:hover { color: #242424;}

.list-1 { }
.list-1 li { padding: 0px 0 10px 27px; background: url(../images/arrow-6.png) 0 4px no-repeat;}
.list-1 li a {}
.list-1  li a:hover { text-decoration: underline;}
.list-1 + h2 { padding-top: 80px;}


/*auxiliary*/
.img-ind {float: left; margin-right: 20px; margin-top: 5px;}
.img-ind img { width: 100%;}
.wrapper img, .wrapper {width: 100%; position: relative;}
.extra-wrap {overflow:hidden;}
.grid_inside { margin: 0 -10px;}
.aligncenter {text-align: center !important;}
.alignleft {text-align: left !important;}
.it {font-style:italic; display: inline-block;}
.fleft {float: left;}
.fright {float: right;}
.h-underline:hover { text-decoration: underline;}
.underline {text-decoration: underline;}
.upp {text-transform: uppercase;}

.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content: "";line-height: 0;}
.clearfix:after { clear: both;}

/************Header************/
header { background: #242424;}
h1 { float: left; margin: 29px 0 0 0;}

/*slider*/
.camera_wrapper { width: 1340px; background: #ffffff; margin: 0 auto;}
.camera_wrap {height:764px; }
/*arrows*/
.camera_wrapper .camera_prev, 
.camera_wrapper .camera_next, 
.camera_wrapper .camera_commands {
	opacity: 1 !important;
	height: 33px;
}
.camera_wrapper .camera_prev {
	left: 50%;
	margin-left: -25px;
	bottom: 0px;
	top: auto;
}
.camera_wrapper .camera_next {
	right: 50%;
	bottom: 0px;
	margin-right: -44px;
	top: auto;
}

.camera_wrapper .camera_prev > span,
.camera_wrapper .camera_next > span {
	display: block;
	height: 26px;
	width: 26px;
	text-indent: -5000px;
}
.camera_wrapper .camera_prev > span {background: url(../images/arrows-1.png) 0 0 no-repeat;}
.camera_wrapper .camera_prev > span:hover {	background: url(../images/arrows-1.png) 0 -28px no-repeat;}
.camera_wrapper .camera_next > span {background: url(../images/arrows-1.png) right 0 no-repeat;}
.camera_wrapper .camera_next > span:hover {	background: url(../images/arrows-1.png) right -28px no-repeat;}

/************Content***********/
#content { background: #ffffff; padding-bottom: 50px;}

h4 + .text-1 { margin-top: 20px; line-height: 30px; padding-bottom: 0;}

.row-1 .text-3 {padding: 0 20px;}


.row-2 { padding-top: 86px;}
.row-2 .text-6 { padding: 65px 46px 0px 30px;}

.row-2 .btn-1 {margin-right: 36px; margin-top: 28px;}

.row-3 {padding-top: 10px;}

.row-3 img { margin-top: 79px;}
.row-3 .menu-1 { float: left;}
.row-3 .btn { margin-top: 12px;}

/*articles */
.links a { display: block;}

.block-1 {padding-top: 1px; padding-bottom: 28px;}
.block-1 > div { margin-top: 35px;}
.block-1 .btn {margin-top: 12px;}

.text-1 + p {padding-bottom: 18px;}

/*blog*/
.blog_post { margin-top: 49px;}
h2 + .blog_post { margin-top: 0;}
.blog_info { padding: 0px 0 21px; font:13px/22px Arial, sans-serif;}
.blog_post img { margin-bottom: 25px; }
.comments { padding-right: 24px; background: url(../images/marker-1.png) right center no-repeat; color: #888888;}

.search { margin-top: 4px; margin-bottom: 6px; position: relative;}
.search input { width: 100%; height: 41px; border: 1px solid #e9e9e9;
	padding:12px 0 11px 16px;
	font: 14px/17px Arial, sans-serif;
	color: #7e7e7e;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.button1 { cursor: pointer; position: absolute; width: 34px; right: 0px; top: 0px; bottom: 0; background: url(../images/icon-1.png) 3px center no-repeat;}
.box-1 {margin-bottom: 35px;}


/*training*/
.block-2 { margin-bottom: 5px;}
.block-2 > div { margin-top: 35px;}
.block-2 > div:first-child {margin-top: 0;}
.block-2 .btn {margin-top: 12px;}
/************Footer************/

.soc_icons {margin-top: 24px; display: inline-block; margin-bottom: 43px;}
.soc_icons li {display: inline-block; float: left; color: #d2d2d2;}
.soc_icons li a {
	display: inline-block; 
	margin-top: 20px; 
	margin-left: 14px;
	padding: 0px 0 0px;
	font-family: Trebuchet MS, serif;
	font-size: 14px;
	line-height: 16px;
	color: #636363;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.soc_icons > li > a:hover { color: #df3462;}
.soc_icons > li > a > span { 
	display: block; 
	height: 35px; 
	width: 35px;
	margin: 0 auto;
	margin-bottom: 20px;
}
[class*="s-"] {
	background: url(../images/soc_icons.png);
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.s-1 {background-position: 0 0;}
.s-2 {background-position: 160px 0;}
.s-3 {background-position: 85px 0;}
.soc_icons > li > a:hover .s-1 {background-position: 0 bottom;}
.soc_icons > li > a:hover .s-2 {background-position: 160px bottom;}
.soc_icons > li > a:hover .s-3 {background-position: 85px bottom;}
.soc_icons li:first-child {margin-left: 0px;}
.soc_icons li:first-child a {margin-left: 0;}
.soc_icons > li > span { display: inline-block; padding-top: 71px; padding-left: 15px;}

.row-4 {margin-top: 34px; text-align: center; color: #ffffff; font-family: Trebuchet MS; font-size: 14px; line-height: 38px; font-weight: bold;}
.row-4 img {margin-right: 10px;}
.row-4 .h-underline {text-transform: uppercase; padding-left: 2px;}

/*toTop*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	cursor:pointer;
	overflow:hidden;
	width: 42px;
	height: 21px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background: url(../images/ui.totop.png) 0 0 no-repeat;
	margin-right: -670px !important;
	right: 50%;
	bottom: 30px;
	font: bold 18px/18px Arial, sans-serif;
	color: #464646;
}

	#toTop:hover {
		display:block;
		overflow:hidden;
		float:left;
		color: #000000;
		background-position: 0 bottom;
	}

	#toTop:active, #toTop:focus {outline:none;}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1300px) {
	.camera_wrapper { width: 100%; }
}

@media only screen and (max-width: 995px) {
	.p9 {margin-bottom: 60px;}

	.row-2 .text-6 {padding-top: 14px; font-size: 32px;}
	.camera_wrap { height: 566px;}
	/*.box-1 .extra-wrap {overflow: visible;}*/

}
@media only screen and (max-width: 767px) {
	.bord-2 {margin: 0px; float: none;}
	.row-3 .w1 {width: 45%; float: left;}

	.block-1 .extra-wrap {overflow: visible;}

	.blog_post img { width: 100%;}
	.p4 {padding: 0;}

	.text-1.p7 {padding-top: 30px;}

	.camera_wrap { height: 268px;}

	.block-2 > div:first-child {margin-top: 35px;}
	.p1 .color-1 {width: 100%; display: inline-block;}

	.block-2 img {display: block;}
	.block-2 .extra-wrap {overflow: hidden;}
	.block-2 .text-1 {margin-top: 0;}
	.p2 { padding: 0 0 0 0!important;}
}
@media only screen and (min-width: 481px) {
	}
@media only screen and (max-width: 480px) {
	.container_16 .grid_1, 
	.container_16 .grid_2, 
	.container_16 .grid_3, 
	.container_16 .grid_4, 
	.container_16 .grid_5, 
	.container_16 .grid_6, 
	.container_16 .grid_7, 
	.container_16 .grid_8, 
	.container_16 .grid_9, 
	.container_16 .grid_10, 
	.container_16 .grid_11, 
	.container_16 .grid_12, 
	.container_16 .grid_13, 
	.container_16 .grid_14, 
	.container_16 .grid_15, 
	.container_16 .grid_16 {
		margin-left: 0!important; 
		margin-right: 0!important;
	}


	.block-1 .img-ind, 
	.bord-3 .img-ind {width: 100%; margin-right: 0px; float: none; margin-bottom: 20px;}
	.camera_wrap { height: 422px;}
	.block-1 {padding-bottom: 0;}
	.block-2 .extra-wrap {overflow: visible;}
}
@media only screen and (max-width: 320px) {
	.row-3 .w1 {width: 100%; float: none;}
}