nav { 
	float: right;
	position:relative; 
	z-index: 11;
}

.sf-menu {margin-top: 44px;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li { 
	position:relative;
	padding-left: 0px;
}
.sf-menu > li {float: left; }
	.sf-menu a {
		display: block;
		font-family: 'Oswald', sans-serif;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
	}
		.sf-menu a:hover {text-decoration: none;}
		.sf-menu li:hover span {color:#ffffff;}

/*================================>> 1 Level <<========================================*/

.sf-menu > li > a {
	display:block;
	padding: 11px 0 46px;
	text-align: center;
	color: #ffffff; 
	-moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    background: transparent url(../images/arrow-1.png) center 160px no-repeat;
    font-size: 16px;
    line-height: 16px;
    position: relative;
}
.sf-menu > li {
	display: block;
	position: relative;
    padding-left: 66px;
    background: url(../images/bg-2.png) 23px 0 no-repeat;
}
.sf-menu > li:first-child { background: no-repeat;}
	.sf-menu > li.current,
	.sf-menu > li:hover,
	.sf-menu > li.sfHover {	}

	.sf-menu > li > a:hover, 
	.sf-menu > li.current > a, 
	.sf-menu > li.sfHover > a {
		background: url(../images/arrow-1.png) center bottom no-repeat;
	}
	.sf-menu > li > a > .sf-sub-indicator {
		display: block;
		overflow: hidden;
		background: url(../images/arrow-7.png) 0 0px no-repeat;
		height: 3px;
		width: 3px;
		text-indent: -1000px;
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -1px;
	}


/*================================>> 2 Level <<========================================*/
.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {
	left:50%;
	margin-left: -12px;
	top:73px;
	width:95px;
	z-index:99;
	background: #ffffff;
	text-align: left;
	padding-top: 8px;
	padding-bottom: 7px;
	border:1px solid #cacaca;
	border-top: 0px; 
}
.sf-menu > li > ul > li {padding: 0 17px;}

.sf-menu > li > ul > li > a {
	display: block;
	font-size:12px;
	line-height: 35px;
	text-align: center;
	color: #7e7e7e;
	border-top: 1px solid #e1e1e1;
	font-weight: bold;
}
.sf-menu > li > ul > li:first-child > a { border-top: none;}
.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a,
.sf-menu li li:hover span,
.sf-menu li.sfHover li.sfHover span { 
	text-decoration: none;
	color: #242424;
}
/*.sf-menu li li:hover, */
.sf-menu li.sfHover li.sfHover { background: url(../images/arrow-2.png) right center no-repeat;}
.sf-menu li.sfHover span {
	color: #242424;
}
	.sf-menu > li > ul .sf-sub-indicator {line-height: 34px;}

/*================================>> 3 Level <<========================================*/

.sf-menu li li ul {
	left: 95px;
	top: -3px;
	width: 87px;
	z-index:99;
	background-color: #ed145b;
	position: absolute;
	padding-top: 3px;
	padding-bottom: 3px;

}
.sf-menu li li li {padding: 0 17px;}
.sf-menu li li li a {
	text-decoration: none;
	color: #ff92b6;
	font-size:12px;
	line-height: 35px;
	text-align: center;
	border-top: 1px solid #ef3270;
	font-weight: bold;
}
.sf-menu li li li:first-child a { border-top: 0px;}
.sf-menu li li li:hover {}
	.sf-menu li li li:hover a {	color: #fff;}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	.sf-menu > li { padding-left: 55px;}
}

@media only screen and (max-width: 767px) {
	.sf-menu { display:none; }

	nav select {
		height: 30px;
		border: 1px solid #bebebe;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #ffffff;
		background-color: #ed145b;
		width:100%;
	    outline: none;
	    padding: 5px;
		font-weight: normal;
		margin-bottom: 30px;
		margin-top: 20px;
	}
	nav select option:first-child {
		color:#ffffff;
	}
	header nav,	header h1 {	float: none;}
	header h1 {	height: 65px;}
}

@media only screen and (max-width: 479px) {

}